In [5]:
import polars as pl
import numpy as np
import spells

In [6]:
path = './samples/multi-index.xlsx'
raw_df = pl.read_excel(path)

In [7]:
raw_df

shape: (23, 8)
┌────────────┬────────────┬────────────┬───────────┬───────────┬───────────┬───────────┬───────────┐
│ SME - Main ┆ __UNNAMED_ ┆ Banner_1   ┆ __UNNAMED ┆ __UNNAMED ┆ Banner_2  ┆ __UNNAMED ┆ __UNNAMED │
│ Bank       ┆ _1         ┆ Segment    ┆ __3       ┆ __4       ┆ Location  ┆ __6       ┆ __7       │
│ ---        ┆ ---        ┆ Migration  ┆ ---       ┆ ---       ┆ ---       ┆ ---       ┆ ---       │
│ str        ┆ str        ┆ ---        ┆ str       ┆ str       ┆ str       ┆ str       ┆ str       │
│            ┆            ┆ str        ┆           ┆           ┆           ┆           ┆           │
╞════════════╪════════════╪════════════╪═══════════╪═══════════╪═══════════╪═══════════╪═══════════╡
│ null       ┆ null       ┆ Total      ┆ 1 SME M   ┆ 2 SME L   ┆ Total     ┆ 1 BKK     ┆ 2 UPC     │
│ null       ┆ null       ┆ Count      ┆ Count     ┆ Count     ┆ Count     ┆ Count     ┆ Count     │
│ MB1 ธนาคาร ┆ 1 BBL      ┆ 211        ┆ 181       ┆ 30        ┆ 211       ┆ 119       ┆ 92        │
│ หลักอันดับ 1  ┆            ┆            ┆           ┆           ┆           ┆           ┆           │
│ null       ┆ 2 KTB      ┆ 70         ┆ 47        ┆ 23        ┆ 70        ┆ 40        ┆ 30        │
│ null       ┆ 3 KRUNGSRI ┆ 60         ┆ 43        ┆ 17        ┆ 60        ┆ 39        ┆ 21        │
│ …          ┆ …          ┆ …          ┆ …         ┆ …         ┆ …         ┆ …         ┆ …         │
│ null       ┆ 34 SMBC    ┆ 10         ┆ 7         ┆ 3         ┆ 10        ┆ 4         ┆ 6         │
│ null       ┆ 36 EXIM    ┆ 1          ┆ 1         ┆ 0         ┆ 1         ┆ 0         ┆ 1         │
│ null       ┆ 38 GSB     ┆ 1          ┆ 1         ┆ 0         ┆ 1         ┆ 0         ┆ 1         │
│ null       ┆ 99 OTHER   ┆ 1          ┆ 0         ┆ 1         ┆ 1         ┆ 1         ┆ 0         │
│            ┆ BANK       ┆            ┆           ┆           ┆           ┆           ┆           │
│ null       ┆ Total      ┆ 1035       ┆ 819       ┆ 216       ┆ 1035      ┆ 601       ┆ 434       │
└────────────┴────────────┴────────────┴───────────┴───────────┴───────────┴───────────┴───────────┘

In [8]:
# Fill null for merged rows
df = raw_df.fill_null(strategy='forward')
df

shape: (23, 8)
┌────────────┬────────────┬────────────┬───────────┬───────────┬───────────┬───────────┬───────────┐
│ SME - Main ┆ __UNNAMED_ ┆ Banner_1   ┆ __UNNAMED ┆ __UNNAMED ┆ Banner_2  ┆ __UNNAMED ┆ __UNNAMED │
│ Bank       ┆ _1         ┆ Segment    ┆ __3       ┆ __4       ┆ Location  ┆ __6       ┆ __7       │
│ ---        ┆ ---        ┆ Migration  ┆ ---       ┆ ---       ┆ ---       ┆ ---       ┆ ---       │
│ str        ┆ str        ┆ ---        ┆ str       ┆ str       ┆ str       ┆ str       ┆ str       │
│            ┆            ┆ str        ┆           ┆           ┆           ┆           ┆           │
╞════════════╪════════════╪════════════╪═══════════╪═══════════╪═══════════╪═══════════╪═══════════╡
│ null       ┆ null       ┆ Total      ┆ 1 SME M   ┆ 2 SME L   ┆ Total     ┆ 1 BKK     ┆ 2 UPC     │
│ null       ┆ null       ┆ Count      ┆ Count     ┆ Count     ┆ Count     ┆ Count     ┆ Count     │
│ MB1 ธนาคาร ┆ 1 BBL      ┆ 211        ┆ 181       ┆ 30        ┆ 211       ┆ 119       ┆ 92        │
│ หลักอันดับ 1  ┆            ┆            ┆           ┆           ┆           ┆           ┆           │
│ MB1 ธนาคาร ┆ 2 KTB      ┆ 70         ┆ 47        ┆ 23        ┆ 70        ┆ 40        ┆ 30        │
│ หลักอันดับ 1  ┆            ┆            ┆           ┆           ┆           ┆           ┆           │
│ MB1 ธนาคาร ┆ 3 KRUNGSRI ┆ 60         ┆ 43        ┆ 17        ┆ 60        ┆ 39        ┆ 21        │
│ หลักอันดับ 1  ┆            ┆            ┆           ┆           ┆           ┆           ┆           │
│ …          ┆ …          ┆ …          ┆ …         ┆ …         ┆ …         ┆ …         ┆ …         │
│ MB1 ธนาคาร ┆ 34 SMBC    ┆ 10         ┆ 7         ┆ 3         ┆ 10        ┆ 4         ┆ 6         │
│ หลักอันดับ 1  ┆            ┆            ┆           ┆           ┆           ┆           ┆           │
│ MB1 ธนาคาร ┆ 36 EXIM    ┆ 1          ┆ 1         ┆ 0         ┆ 1         ┆ 0         ┆ 1         │
│ หลักอันดับ 1  ┆            ┆            ┆           ┆           ┆           ┆           ┆           │
│ MB1 ธนาคาร ┆ 38 GSB     ┆ 1          ┆ 1         ┆ 0         ┆ 1         ┆ 0         ┆ 1         │
│ หลักอันดับ 1  ┆            ┆            ┆           ┆           ┆           ┆           ┆           │
│ MB1 ธนาคาร ┆ 99 OTHER   ┆ 1          ┆ 0         ┆ 1         ┆ 1         ┆ 1         ┆ 0         │
│ หลักอันดับ 1  ┆ BANK       ┆            ┆           ┆           ┆           ┆           ┆           │
│ MB1 ธนาคาร ┆ Total      ┆ 1035       ┆ 819       ┆ 216       ┆ 1035      ┆ 601       ┆ 434       │
│ หลักอันดับ 1  ┆            ┆            ┆           ┆           ┆           ┆           ┆           │
└────────────┴────────────┴────────────┴───────────┴───────────┴───────────┴───────────┴───────────┘

In [9]:
np.array(df.columns)

array(['SME - Main Bank', '__UNNAMED__1', 'Banner_1 Segment Migration',
       '__UNNAMED__3', '__UNNAMED__4', 'Banner_2 Location',
       '__UNNAMED__6', '__UNNAMED__7'], dtype='<U26')

In [10]:
df.head(3).to_numpy()

array([[None, None, 'Total', '1 SME M', '2 SME L', 'Total', '1 BKK',
        '2 UPC'],
       [None, None, 'Count', 'Count', 'Count', 'Count', 'Count', 'Count'],
       ['MB1 ธนาคารหลักอันดับ 1', '1 BBL', '211', '181', '30', '211',
        '119', '92']], dtype=object)

In [11]:
'''import polars as pl

def flatten_dataframe(df: pl.DataFrame, n_column_rows: int = 1) -> pl.DataFrame:
    """
    Flatten a Polars DataFrame with multiple header rows into a single header row,
    replacing '__UNNAMED__n' with the nearest valid left-side column name,
    and ensuring unique column names by adding a '_n' prefix to duplicates.

    Parameters:
        df (pl.DataFrame): The input Polars DataFrame.
        n_column_rows (int): Number of rows used as column headers.

    Returns:
        pl.DataFrame: The flattened DataFrame.
    """
    # Step 1: Replace '__UNNAMED__n' with the nearest valid left-side column name
    valid_columns = []
    for col in df.columns:
        if col.startswith("__UNNAMED__"):
            valid_columns.append(valid_columns[-1] if valid_columns else col)
        else:
            valid_columns.append(col)

    # Step 2: Extract the rows used as column headers and include the valid column names
    header_rows = df.head(n_column_rows).to_numpy()
    column_names = valid_columns

    # Step 3: Generate new column names by concatenating valid column names and header rows
    new_column_names = [
        "_".join(
            [column_names[col]] +
            [str(header_rows[row, col]) if header_rows[row, col] is not None else "" for row in range(n_column_rows)]
        ).strip("_")
        for col in range(len(column_names))
    ]

    # Step 4: Ensure unique column names by adding a '_n' suffix to duplicates
    unique_column_names = []
    seen = {}
    for name in new_column_names:
        if name not in seen:
            unique_column_names.append(name)
            seen[name] = 1
        else:
            new_name = f"{name}_{seen[name]}"
            while new_name in seen:  # Ensure no collisions with other names
                seen[name] += 1
                new_name = f"{name}_{seen[name]}"
            unique_column_names.append(new_name)
            seen[new_name] = 1

    # Step 5: Create the flattened DataFrame by skipping the header rows
    flattened_df = df[n_column_rows:].rename({old: new for old, new in zip(df.columns, unique_column_names)})

    return flattened_df'''

'import polars as pl\n\ndef flatten_dataframe(df: pl.DataFrame, n_column_rows: int = 1) -> pl.DataFrame:\n    """\n    Flatten a Polars DataFrame with multiple header rows into a single header row,\n    replacing \'__UNNAMED__n\' with the nearest valid left-side column name,\n    and ensuring unique column names by adding a \'_n\' prefix to duplicates.\n\n    Parameters:\n        df (pl.DataFrame): The input Polars DataFrame.\n        n_column_rows (int): Number of rows used as column headers.\n\n    Returns:\n        pl.DataFrame: The flattened DataFrame.\n    """\n    # Step 1: Replace \'__UNNAMED__n\' with the nearest valid left-side column name\n    valid_columns = []\n    for col in df.columns:\n        if col.startswith("__UNNAMED__"):\n            valid_columns.append(valid_columns[-1] if valid_columns else col)\n        else:\n            valid_columns.append(col)\n\n    # Step 2: Extract the rows used as column headers and include the valid column names\n    header_rows = df.head(n_column_rows).to_numpy()\n    column_names = valid_columns\n\n    # Step 3: Generate new column names by concatenating valid column names and header rows\n    new_column_names = [\n        "_".join(\n            [column_names[col]] +\n            [str(header_rows[row, col]) if header_rows[row, col] is not None else "" for row in range(n_column_rows)]\n        ).strip("_")\n        for col in range(len(column_names))\n    ]\n\n    # Step 4: Ensure unique column names by adding a \'_n\' suffix to duplicates\n    unique_column_names = []\n    seen = {}\n    for name in new_column_names:\n        if name not in seen:\n            unique_column_names.append(name)\n            seen[name] = 1\n        else:\n            new_name = f"{name}_{seen[name]}"\n            while new_name in seen:  # Ensure no collisions with other names\n                seen[name] += 1\n                new_name = f"{name}_{seen[name]}"\n            unique_column_names.append(new_name)\n            seen[new_name] = 1\n\n    # Step 5: Create the flattened DataFrame by skipping the header rows\n    flattened_df = df[n_column_rows:].rename({old: new for old, new in zip(df.columns, unique_column_names)})\n\n    return flattened_df'

In [12]:
spells.flatten_dataframe(raw_df, n_column_rows=2, merged_columns=['SME - Main Bank'], infer_dtypes=True, separator='->')

shape: (21, 8)
┌────────────┬────────────┬────────────┬───────────┬───────────┬───────────┬───────────┬───────────┐
│ SME - Main ┆ SME - Main ┆ Banner_1   ┆ Banner_1  ┆ Banner_1  ┆ Banner_2  ┆ Banner_2  ┆ Banner_2  │
│ Bank       ┆ Bank_1     ┆ Segment    ┆ Segment   ┆ Segment   ┆ Location- ┆ Location- ┆ Location- │
│ ---        ┆ ---        ┆ Migration- ┆ Migration ┆ Migration ┆ >Total->C ┆ >1 BKK->C ┆ >2 UPC->C │
│ str        ┆ str        ┆ >To…       ┆ ->1 …     ┆ ->2 …     ┆ oun…      ┆ oun…      ┆ oun…      │
│            ┆            ┆ ---        ┆ ---       ┆ ---       ┆ ---       ┆ ---       ┆ ---       │
│            ┆            ┆ i64        ┆ i64       ┆ i64       ┆ i64       ┆ i64       ┆ i64       │
╞════════════╪════════════╪════════════╪═══════════╪═══════════╪═══════════╪═══════════╪═══════════╡
│ MB1 ธนาคาร ┆ 1 BBL      ┆ 211        ┆ 181       ┆ 30        ┆ 211       ┆ 119       ┆ 92        │
│ หลักอันดับ 1  ┆            ┆            ┆           ┆           ┆           ┆           ┆           │
│ MB1 ธนาคาร ┆ 2 KTB      ┆ 70         ┆ 47        ┆ 23        ┆ 70        ┆ 40        ┆ 30        │
│ หลักอันดับ 1  ┆            ┆            ┆           ┆           ┆           ┆           ┆           │
│ MB1 ธนาคาร ┆ 3 KRUNGSRI ┆ 60         ┆ 43        ┆ 17        ┆ 60        ┆ 39        ┆ 21        │
│ หลักอันดับ 1  ┆            ┆            ┆           ┆           ┆           ┆           ┆           │
│ MB1 ธนาคาร ┆ 4 KBank    ┆ 378        ┆ 301       ┆ 77        ┆ 378       ┆ 231       ┆ 147       │
│ หลักอันดับ 1  ┆            ┆            ┆           ┆           ┆           ┆           ┆           │
│ MB1 ธนาคาร ┆ 6 TTB      ┆ 74         ┆ 65        ┆ 9         ┆ 74        ┆ 31        ┆ 43        │
│ หลักอันดับ 1  ┆            ┆            ┆           ┆           ┆           ┆           ┆           │
│ …          ┆ …          ┆ …          ┆ …         ┆ …         ┆ …         ┆ …         ┆ …         │
│ MB1 ธนาคาร ┆ 34 SMBC    ┆ 10         ┆ 7         ┆ 3         ┆ 10        ┆ 4         ┆ 6         │
│ หลักอันดับ 1  ┆            ┆            ┆           ┆           ┆           ┆           ┆           │
│ MB1 ธนาคาร ┆ 36 EXIM    ┆ 1          ┆ 1         ┆ 0         ┆ 1         ┆ 0         ┆ 1         │
│ หลักอันดับ 1  ┆            ┆            ┆           ┆           ┆           ┆           ┆           │
│ MB1 ธนาคาร ┆ 38 GSB     ┆ 1          ┆ 1         ┆ 0         ┆ 1         ┆ 0         ┆ 1         │
│ หลักอันดับ 1  ┆            ┆            ┆           ┆           ┆           ┆           ┆           │
│ MB1 ธนาคาร ┆ 99 OTHER   ┆ 1          ┆ 0         ┆ 1         ┆ 1         ┆ 1         ┆ 0         │
│ หลักอันดับ 1  ┆ BANK       ┆            ┆           ┆           ┆           ┆           ┆           │
│ MB1 ธนาคาร ┆ Total      ┆ 1035       ┆ 819       ┆ 216       ┆ 1035      ┆ 601       ┆ 434       │
│ หลักอันดับ 1  ┆            ┆            ┆           ┆           ┆           ┆           ┆           │
└────────────┴────────────┴────────────┴───────────┴───────────┴───────────┴───────────┴───────────┘

In [17]:
raw_df.pipe(spells.flatten_dataframe, n_column_rows=2, merged_columns='*', infer_dtypes=True, separator='>')

shape: (21, 8)
┌────────────┬────────────┬────────────┬───────────┬───────────┬───────────┬───────────┬───────────┐
│ SME - Main ┆ SME - Main ┆ Banner_1   ┆ Banner_1  ┆ Banner_1  ┆ Banner_2  ┆ Banner_2  ┆ Banner_2  │
│ Bank       ┆ Bank_1     ┆ Segment    ┆ Segment   ┆ Segment   ┆ Location> ┆ Location> ┆ Location> │
│ ---        ┆ ---        ┆ Migration> ┆ Migration ┆ Migration ┆ Total>Cou ┆ 1         ┆ 2         │
│ str        ┆ str        ┆ Tot…       ┆ >1 S…     ┆ >2 S…     ┆ nt        ┆ BKK>Count ┆ UPC>Count │
│            ┆            ┆ ---        ┆ ---       ┆ ---       ┆ ---       ┆ ---       ┆ ---       │
│            ┆            ┆ i64        ┆ i64       ┆ i64       ┆ i64       ┆ i64       ┆ i64       │
╞════════════╪════════════╪════════════╪═══════════╪═══════════╪═══════════╪═══════════╪═══════════╡
│ MB1 ธนาคาร ┆ 1 BBL      ┆ 211        ┆ 181       ┆ 30        ┆ 211       ┆ 119       ┆ 92        │
│ หลักอันดับ 1  ┆            ┆            ┆           ┆           ┆           ┆           ┆           │
│ MB1 ธนาคาร ┆ 2 KTB      ┆ 70         ┆ 47        ┆ 23        ┆ 70        ┆ 40        ┆ 30        │
│ หลักอันดับ 1  ┆            ┆            ┆           ┆           ┆           ┆           ┆           │
│ MB1 ธนาคาร ┆ 3 KRUNGSRI ┆ 60         ┆ 43        ┆ 17        ┆ 60        ┆ 39        ┆ 21        │
│ หลักอันดับ 1  ┆            ┆            ┆           ┆           ┆           ┆           ┆           │
│ MB1 ธนาคาร ┆ 4 KBank    ┆ 378        ┆ 301       ┆ 77        ┆ 378       ┆ 231       ┆ 147       │
│ หลักอันดับ 1  ┆            ┆            ┆           ┆           ┆           ┆           ┆           │
│ MB1 ธนาคาร ┆ 6 TTB      ┆ 74         ┆ 65        ┆ 9         ┆ 74        ┆ 31        ┆ 43        │
│ หลักอันดับ 1  ┆            ┆            ┆           ┆           ┆           ┆           ┆           │
│ …          ┆ …          ┆ …          ┆ …         ┆ …         ┆ …         ┆ …         ┆ …         │
│ MB1 ธนาคาร ┆ 34 SMBC    ┆ 10         ┆ 7         ┆ 3         ┆ 10        ┆ 4         ┆ 6         │
│ หลักอันดับ 1  ┆            ┆            ┆           ┆           ┆           ┆           ┆           │
│ MB1 ธนาคาร ┆ 36 EXIM    ┆ 1          ┆ 1         ┆ 0         ┆ 1         ┆ 0         ┆ 1         │
│ หลักอันดับ 1  ┆            ┆            ┆           ┆           ┆           ┆           ┆           │
│ MB1 ธนาคาร ┆ 38 GSB     ┆ 1          ┆ 1         ┆ 0         ┆ 1         ┆ 0         ┆ 1         │
│ หลักอันดับ 1  ┆            ┆            ┆           ┆           ┆           ┆           ┆           │
│ MB1 ธนาคาร ┆ 99 OTHER   ┆ 1          ┆ 0         ┆ 1         ┆ 1         ┆ 1         ┆ 0         │
│ หลักอันดับ 1  ┆ BANK       ┆            ┆           ┆           ┆           ┆           ┆           │
│ MB1 ธนาคาร ┆ Total      ┆ 1035       ┆ 819       ┆ 216       ┆ 1035      ┆ 601       ┆ 434       │
│ หลักอันดับ 1  ┆            ┆            ┆           ┆           ┆           ┆           ┆           │
└────────────┴────────────┴────────────┴───────────┴───────────┴───────────┴───────────┴───────────┘